body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.clock-container {
  text-align: center;
}

.digital-clock {
  font-size: 3em;
  font-family: 'Arial', sans-serif;
  color: #FA8047;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
